doctype html
html(lang=en)
    head
        meta(charset="UTF-8")
        title="ZiplineCalculator"
        script(src="static/vendor/jquery/dist/jquery.min.js")
        link(href="static/vendor/bootstrap/dist/css/bootstrap.min.css", rel="stylesheet")
        link(href="static/css/style.css", rel="stylesheet")

    body
        div.container-fluid
            div.row
                div.col-lg-4.col-lg-offset-4
                    div#calc
                        p.text-center Zipline Calculator
