doctype html
html(lang=en)
    head
        meta(charset="UTF-8")
        title="ZiplineCalculator"
        script(src="static/vendor/jquery/dist/jquery.min.js")
        script(src="static/js/script.js")
        link(href="static/vendor/bootstrap/dist/css/bootstrap.min.css", rel="stylesheet")
        <link href='https://fonts.googleapis.com/css?family=VT323' rel='stylesheet' type='text/css'>
        link(href="static/css/style.css", rel="stylesheet")

    body
        div.container-fluid
            div.row
                div.col-lg-4.col-lg-offset-4
                    div#calc.text-center
                        div.row
                            div.col-lg-6.col-lg-offset-6
                                p solar
                        div.row
                            div.col-lg-12
                                input(type=text, value=0, readonly=true).text-right.output
                        div.row
                            div.col-lg-3
                                button(value="AC").btn-danger AC
                            div.col-lg-3
                                button(value="CE").btn-danger CE
                            div.col-lg-3
                                button(value='%') %
                            div.col-lg-3
                                button(value='/') &div;
                        div.row
                            div.col-lg-3
                                button(value=7) 7
                            div.col-lg-3
                                button(value=8) 8
                            div.col-lg-3
                                button(value=9) 9
                            div.col-lg-3
                                button(value='*') X
                        div.row
                            div.col-lg-3
                                button(value=4) 4
                            div.col-lg-3
                                button(value=5) 5
                            div.col-lg-3
                                button(value=6) 6
                            div.col-lg-3
                                button(value='-') -
                        div.row
                            div.col-lg-3
                                button(value=1) 1
                            div.col-lg-3
                                button(value=2) 2
                            div.col-lg-3
                                button(value=3) 3
                            div.col-lg-3
                                button(value='+') +
                        div.row
                            div.col-lg-3
                                button(value=0) 0
                            div.col-lg-3
                                button(value='.') .
                            div.col-lg-3
                                <button value="=">=</button>
                            div.col-lg-3
                                button(value='+') +
